<!DOCTYPE html>
<html>
<head>
	<title>Expenses by Year</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<%let duplicates = new Set([])%>
	
	<h1>Yearly Business Expenses</h1>

	<div class="container">
		<div class="flexContainer">
		<form method='GET' action='/receipts'>

		<%allReceipts.forEach(receipt => {%>
			<%duplicates.add(receipt.year)%>
		<%})%>

			<%duplicates.forEach(receiptYear => {%>

			<button name="year" value='<%=receiptYear%>' type="button submit"><%=receiptYear%></button>
			<%})%>
		</form>
		</div>
	</div>	