<!DOCTYPE html>
<html>
<head>
	<title>Expenses by Month</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
<%const months = [ "January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"]%>

	<h1>Business Monthly Expenses</h1>
	<div class="container">
		<div class="flexContainer">
		<form method='GET' action='/receipts'>

		<%months.forEach(month => {%>
			<button name="month" value='<%=month%>' type="button submit"><%=month%></button>
	<%})%>
	</form>
		</div>
	</div>
