<!DOCTYPE html>
<html>
<head>
	<title>Change Receipt</title>
</head>
<body>
	<form method='POST' action='/receipts/<%=receipt.id%>?_method=PUT'>
		<input type="storeName" name="storeName" value="<%=receipt.storeName%>"><br>
		<input type="date" name="date" value="MM/DD/YYYY"><br>
		<select id='type' name='type' value='type'>
			<option value='personal'>Personal</option>
			<option value='business'>Business</option>
		</select></br>
		<input type="amount" name="amount" value="<%=receipt.amount%>"><br>
		<textarea name="description" rows="2" cols="33" value="description"><%=receipt.description%></textarea><br>
		<button onclick=window.location.href="/receipts/<%receipt.id%>">Cancel</button>
		<input type="submit" value="Change">


	</form>
</body>
</html>