<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
		<%- include('./partials/css/bootstrap.ejs')%>
		<%- include('./partials/css/skeleton.ejs')%>	
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<main class='bg-image5'></main>

<body>

	<h4 class='text-center'>Welcome to the Receipt App</h4>
	<h5 class='text-center'>The app where you can track your finances</h5>
	<button class="button-primary" id="loginButton">Login</button>
	<button class="button-primary" id="registerButton">Register</button>

</body>
</html>