<!DOCTYPE html>
<html>
<head>
	<title>Homepage</title>
		<%- include('./partials/css/bootstrap.ejs')%>
		<%- include('./partials/css/skeleton.ejs')%>	
	
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<main class='bg-image5'></main>

<body>
	<div class="container">
		<h4 class='text-center'>Welcome to the Receipt App</h4>
		<h5 class='text-center'>The app where you can track your finances</h5>
	</div>

	<div class="container2">
		<button class="button-primary" id="loginButton" onclick=window.location.href="/sessions/new">Login</button>

		<button class="button-primary" id="registerButton" onclick=window.location.href="/users/new">Register</button>
	</div>

</body>
</html>