<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>All Expenses</title>
</head>
<body>
	<%const fullTotal= []%>
			<%allReceipts.forEach(receipt => {%>
				<%fullTotal.push(receipt.amount)%>
			<% }) %>

		<%const addTotal = fullTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum
			addTotal()
		})%>

	<h1>All Expenses</h1>
	<h2>TOTAL: $<%=addTotal%> </h2>
	<div class="flexContainer">
		
			<%allReceipts.forEach(receipt => {%>
			<div class="receipt">
				<a href="/receipts/<%=receipt.id%>"><%=receipt.storeName%></a>
				<p>Amount: $<%=receipt.amount%></p>

			</div>
		<% }) %>

	</div>
	
<%console.log(addTotal)%>
</body>
</html>

