<!DOCTYPE html>
<html>
<head>
	<title>Main</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script type="text/javascript" src="/js/app.js"></script>
</head>
<body>

	<%const fullTotal = []%>
	<%const businessTotal= []%>
	<%const personalTotal= []%>
			<%allReceipts.forEach(receipt => {%>
				<%fullTotal.push(receipt.amount)%>
				<%if (receipt.type === "personal") {%>
					<%personalTotal.push(receipt.amount)%>
				<%} else {%>
					<%businessTotal.push(receipt.amount)%>
					<%}%>
			<% }) %>

			
		<%const addtotalExpense = fullTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum
		})%>

		<%const addpersonalExpense = personalTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum	
		})%>

		<%const addbusinessExpense = businessTotal.reduce((accumulator, current) => {
			const sum = accumulator + current
			return sum
		})%>

	
	<div class='personal'>
		<h1>Personal Expenses</h1>
		<h2>$<%=addpersonalExpense%></h2>
		<form method="GET" action="/receipts">
			<label for="filter">filter</label><br>
			<select id='flitertype' name='personalFilterType' placeholder='sort'>
				<option value='' disabled selected>Sort</option>
				<option value='all'>All</option>
				<option value='year'>Year</option>
				<option value='month'>Month</option>
				<option value='store'>Store Name</option>
			</select></br>
			<input type="submit" value="View">
		</form>
	</div>


	<div class="addReceiptButton">
		<button onclick=window.location.href="/receipts/new">Add a new receipt</button>
	</div>

	<div class='business'>
		<h1>Business Expenses</h1>
		<h2>$<%=addbusinessExpense%></h2>
		<form method="GET" action="/receipts">
			<label for="filter">filter</label><br>
			<select id='type' name='businessFilterType' placeholder='sort'>
				<option value='' disabled selected>Sort</option>
				<option value='all'>All</option>
				<option value='year'>Year</option>
				<option value='Month'>Month</option>
				<option value='store'>Store Name</option>
			</select></br>
			<input type="submit" value="View">
		</form>
	</div>

	<div class='personal'>
		<h1>Total Expenses</h1>
		<h2>$<%=addtotalExpense%></h2>
		<button onclick=window.location.href='/receipts'>View all receipts</button>

	</div>

	

</body>
</html>