<!DOCTYPE html>
<html>
<head>
	<title>Expenses by Year</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Yearly Personal Expenses</h1>

	<div class="container">
		<div class="flexContainer">
		<form method='GET' action='/receipts'>

		<%allReceipts.forEach(receipt => {%>
			<button name="year" value='<%=receipt.year%>' type="button submit"><%=receipt.year%></button>
	<%})%>
	</form>
		</div>
	</div>	