<!DOCTYPE html>
<html>
<head>
	<title>Expenses by Year</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<h1>Yearly Expenses</h1>

	<div class="container">
		<div class="flexContainer">
		<%allYears.forEach(year => {%>
			<p><a href="/receipts?year=<%=year.year%>"><%=year.year%></a></p>
	<%})%>

		</div>
	</div>