.home {
	overflow: hidden;
}
.bg-image {
	background-image: url(/images/Receipt-image.PNG);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: center;
	/*z-index: 1,*/
	padding-bottom: 300px;
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(0px);
}

.bg-image1 {
	background-image: url(/images/Receipt-image.PNG);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: center;
	/*z-index: 1,*/
	padding-bottom: 300px;
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(0px);
}

.bg-image2 {
	background-image: url(/images/Receipt-image.PNG);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: right;
	/*z-index: 1,*/
	padding-bottom: 300px;
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(0px);
}

.bg-image3 {
	background-image: url(/images/Receipt-image.PNG);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: right;
	/*z-index: 1,*/
	padding-bottom: 300px;
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(0px);
}

.bg-image4 {
	background-image: url(/images/Receipt-image.PNG);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: right;
	/*z-index: 1,*/
	padding-bottom: 300px;
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(0px);
}

.bg-image5 {
	background-image: url(/images/Receipt-image.PNG);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: center;
	padding-bottom: 700px;
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(1px);
}

.showThumbnail:hover {
        transform: scale(1.5);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5)
}

.flexContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.month {
	flex-basis: auto;
	position: relative;
}

img {
	max-width: 500px;
	max-height: 500px;
	width: auto;
	height: auto;
}

.thumbnail {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
}

.main {
	width: 415px;
}

h2 {
	text-align: center;
}
 .personal {
 	padding: 70px 0;
 	text-align: center;
 }

 .filter {
 	text-align: center;
 }

 .text-center {
 	position: relative;
 	bottom: 400px;
 }

 #registerButton {
 	margin: 5px;
 }

 #loginButton {
 	margin: 5px;
 }


.container {
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.container2 {
	display: flex;
	justify-content: center;


}

.logout {
	background-color: lightskyblue;
	text-align: center;
}

/* Larger than Desktop HD */
@media (min-width: 400px) {}


