.bg-image {
	background-image: url(/images/Receipt-image.png);
	background-repeat: no-repeat;
	/*background-size: cover;*/
	background-position: center;
	/*z-index: 1,*/
	padding-bottom: 300px;
	-webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  filter: blur(0px);
}



.flexContainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

/*.flexContainer2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
*/
.month {
	flex-basis: auto;
	position: relative;
}
/*.receipt {
	text-align: center;
}*/

img {
	max-width: 500px;
	max-height: 500px;
	width: auto;
	height: auto;
}

.thumbnail {
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
}

/*.personal, .total, .personalExpense {
	text-align: center;
}*/

/*.businessExpenses {
	position: absolute;

	left: 1050px;
	top: 6px;
}*/
.main {
	width: 415px;
}

h2 {
	text-align: center;
}
 .personal {
 	padding: 70px 0;
 	text-align: center;
 }

 .filter {
 	text-align: center;
 }

/* .u-full-width {
 	max-width: 70%;
 	box-sizing: border-box;
 }*/