<main>
	<%- include('../partials/css/skeleton.ejs')%>

	<link rel="stylesheet" type="text/css" href="/css/style.css">

	<div class='bg-image1'>
	<h4>Login</h4>

	<form action="/sessions" method="POST">
		<label>
			<span>Username:</span>
			<input type="text" name="username">
		</label></br>
		<label>
			<span>Password:</span>
			<input type="password" name="password">
		</label></br>
		<input class="button-primary" type="submit" value="Login">
</form>
</div>

</main>