<main>
	
	<h4>Register</h4>

	<form action="/users" method="POST">
		<label>
			<span>firstName:</span>
			<input type="text" name="firstName">
		</label></br>
		<label>
			<span>lastName:</span>
			<input type="text" name="lastName">
		</label></br>
		<label>
			<span>username:</span>
			<input type="text" name="username">
		</label></br>
		<label>
			<span>password:</span>
			<input type="password" name="password">
		</label></br>
		<input type="submit" value="Register">
</form>

</main>